<div class="contactContainer">
	<div class="formEmail">
		<h2>Contacto</h2>
		<contact-wc></contact-wc>
	</div>
	<div class="contactInfo">
		<h2>Información</h2>
		<h3> <iron-icon icon="room"></iron-icon> Dónde encontrarnos</h3>
		<p>
			Avenida Alcalde Gregorio Espino, 75<br>
			Vigo, 36205<br>
			Pontevedra
		</p>
		<hr>
		<h3> <iron-icon icon="communication:call"></iron-icon> Teléfono de contacto</h3>
		<p>
			986 27 99 83<br>
		</p>
		<hr>
		<h3> <iron-icon icon="communication:email"></iron-icon> Correo electrónico</h3>
		<p>
			info@globalcocina.es
		</p>
		<hr>
		<h3> <iron-icon icon="cloud"></iron-icon> Redes sociales</h3>
		<p>
			<a href="http://www.facebook.com/globalcocina" target="_blank">facebook.com/globalcocina</a>
		</p>
		<hr>
		<div class="map">
			<google-map zoom="17" latitude="42.2263" longitude="-8.7082" api-key="AIzaSyByZ3IDC07Ny4yZfzSfrdasTCEm5bFd0cs">
				<google-map-marker latitude="42.2263" longitude="-8.7082"></google-map-marker>
			</google-map>
		</div>
	</div>
</div>
