<div class="contactContainer">
	<div class="formEmail">
		<h2>Contacto</h2>
		<contact-wc></contact-wc>
	</div>
	<div class="contactInfo">
		<h2>Información</h2>
		<h3> <iron-icon icon="room"></iron-icon> Dónde encontrarnos</h3>
		<p>
			C/ Luis Rodriguez Ontiveros nº24 local<br>
			Alcobendas 28100<br>
			Madrid
		</p>
		<hr>
		<h3> <iron-icon icon="communication:call"></iron-icon> Teléfono de contacto</h3>
		<p>
			915856522<br>
			656565656<br>
		</p>
		<hr>
		<h3> <iron-icon icon="communication:email"></iron-icon> Correo electrónico</h3>
		<p>
			globalcocinas@gmail.com
		</p>
		<hr>
		<div class="map">
			<google-map zoom="15" latitude="40.384" longitude="-3.763" api-key="AIzaSyByZ3IDC07Ny4yZfzSfrdasTCEm5bFd0cs">
				<google-map-marker latitude="40.384" longitude="-3.763"></google-map-marker>
			</google-map>
		</div>
	</div>
</div>
