<img class="imagenHome" src="images/home.jpg"/>

<div class="service">
	<div class="serviceInfo">
		<h1>Título</h1>
		<p>Descripción del servicio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
	</div>
	<img src="/images/servicio1.jpg" alt="">
</div>

<div class="service">
	<img src="/images/servicio1.jpg" alt="">
	<div class="serviceInfo">
		<h1>Título</h1>
		<p>Descripción del servicio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
	</div>
</div>

<div class="service">
	<div class="serviceInfo">
		<h1>Título</h1>
		<p>Descripción del servicio. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, </p>
	</div>
	<img src="/images/servicio1.jpg" alt="">
</div>
