<img class="imagenHome" src="images/home.png"/>

<div class="service">
	<div class="serviceInfo">
		<h1>Cocinas</h1>
		<p>
			Adaptamos tu cocina a la tus necesidades, ofreciendo un servicio integral para tu hogar.
			Reformas parciales o completas, desde GlobalCocina nos  encargamos para que obtengas aquello que buscas.
		</p>
	</div>
	<img src="/images/serviceKitchen.jpg" alt="">
</div>

<div class="service">
	<img src="/images/serviceBathroom.jpg" alt="">
	<div class="serviceInfo">
		<h1>Baños</h1>
		<p>
			Alta experiencia de estudios y proyectos en baños, realización de proyectos de realización de dibujos en 3D
			 y diseños personalizados para nuestros clientes, precios muy competentes y con una alta calidad en nuestros productos, 
			realizamos todo tipos de reformas en su hogar, fontanería, electricidad, albañilería, carpintería...
		</p>
	</div>
</div>

<div class="service">
	<div class="serviceInfo">
		<h1>Otras reformas</h1>
		<p>
			Desde GlobalCocina no solo nos encargamos de las reformas de tu cocina y baño, 
			sino también  de otras estancias de la casa que tengan que ver con la carpintería general, 
			cambio de puertas, instalación de armarios empotrados, vestidores..
		</p>	
	</div>
	<img src="/images/serviceOther.jpg" alt="">
</div>
