<div class="presupuestoContainer">
    <div class="presupuestoInfo">
        <h2>Presupuesto gratuito sin compromiso</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, 
        </p>
    </div>
    <div class="formEmail">
		<h2>Contacto</h2>
		<contact-wc></contact-wc>
	</div> 
</div>
