.imagenHome{
    width: 100%;
    max-height: calc(80vh);
}

.service{
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.serviceInfo{
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;
    text-align: center;
} 

.serviceInfo p{
    font-size: 16px;
    max-width: 400px;
    text-align: justify;
}

.service img{
    margin: 0px 40px 0px 40px;
    width: 500px;
    max-width: 90%;
    max-height: 350px;
    height: auto;
}

@media only screen and (max-device-width : 667px) {
    .service img{
        height: auto;
        margin: auto;
    }
}